
.margin-top-area{
    margin-top: 20px;
}
.student-box-header{
	width: 100%;
    float: left;
	background-color: #23292f;
    border-bottom: 0 solid #f4f4f4;
    border-radius: 3px 3px 0 0;
    color: #fff;
    position: relative;
    padding: 10px 0;
}
.student-area{
	width: 50%;
	float: left;
	
}
.snt .breadcrumb{
    list-style: none;
    background-color: #23292f;
    border-radius: 4px;
    float: right;
    width: 50%;
}
.student-box-header .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
ul.breadcrumb{
	padding: 0;
	margin: 0;
}
ul.breadcrumb li{
	display: inline-block;	
}
ul.breadcrumb li a{
	text-decoration: none;
	color: #ccc;	
}
ul.breadcrumb li.active{
	color: #1aa;	
}
.add-student{
	padding: 20px 0;
}
.admore{
	border-bottom: solid 1px #ccc;
    padding-bottom: 3px;
}
.class-holder{
	width: 100%;
    float: left;
	background-color: #D9E0E7;
	padding: 20px;
	margin:20px 0;
}
.class-holder label{
	width: 40%;
	float: left;
	text-align: center;
	margin-top: 7px;
}
.class-holder .form-control{
    width: 60%;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.snt .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-weight: normal;
}